$primary: rgb(132, 0, 155);
$secondary: rgb(231, 231, 231);
$light: rgba(213, 169, 223);
$dark: rgb(76, 4, 88);
$danger: rgb(224, 34, 20);
$success: rgb(3, 122, 3);
$info: rgb(116, 82, 114);

// change the theme
$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'light': $light,
  'dark': $dark,
  'danger': $danger,
  'success': $success,
  'info': $info,
);

$form-floating-padding-x: 1rem;
$form-floating-label-transform: scale(0.85) translateY(1.5rem);
$form-floating-input-padding-t: 0.625rem;
$form-floating-input-padding-b: 1.625rem;

// Import Bootstrap and its default variables
@import '../node_modules/bootstrap/scss/bootstrap.scss';

//OTHER styling of app goes here
.btn-outline {
  border-radius: 2em;
  margin: 2px;
}

.placeholder-primary input::placeholder {
  color: $primary;
}

.fit-to-height {
  max-height: calc(100vh - 8.5em);
}

.item-list {
  max-height: calc(100vh - 14.5em);
}

.item-list-element:hover {
  background-color: $light !important;
  color: $primary;
}

.selected {
  background-color: $primary !important;
  color: white;
}

.selected:hover {
  opacity: 0.8;
}
