image: maven:3-openjdk-16

cache:
  paths:
    - .m2/repository/
    - target/

Build:
  stage: build
  script:
    - cd warehouse
    - mvn compile
  retry: 1

Jacoco:
  stage: test
  needs: []
  script:
    - cd warehouse
    - mvn test -DskipUiTests=true
    - mvn jacoco:report-aggregate
    - cat $CI_BUILDS_DIR/$CI_PROJECT_PATH/warehouse/report/target/site/jacoco-aggregate/index.html | grep -o '<tfoot>.*</tfoot>'
  artifacts:
    paths:
      - $CI_BUILDS_DIR/$CI_PROJECT_PATH/warehouse/report/target/site/jacoco-aggregate/*
  retry: 1

Verify:
  stage: test
  needs: []
  script:
    - cd warehouse
    - mvn verify -DskipUiTests=true
  retry: 1

Checkstyle:
  stage: test
  needs: []
  script:
    - cd warehouse
    - mvn checkstyle:check
  retry: 1
