# Members of group 38
Olav Kihle <olavki@stud.ntnu.no>
Fredrik Fonn Hansen <fredrfha@stud.ntnu.no> <fredrfha>
Eik Hvattum Røgeberg <eikhr@stud.ntnu.no> <eik.rogeberg@gmail.com>
Oscar Aleksander Halvorsen <oscaraha@stud.ntnu.no> <oscarah01@gmail.com>
