.button
{
    -fx-text-fill: WHITE;
    -fx-background-color: #5CA0D9;
    
}

#btnDelete
{
    -fx-background-color: rgb(255,5,5);

}

.orderByButton {
    -fx-text-fill: BLACK;
    -fx-background-color: WHITE;
    -fx-border-color: GRAY;
    -fx-border-radius: 3;
}

.orderByButton .orderByUp {
    -fx-background-color: BLACK;
}

.orderByButton.descending .orderByUp {
    -fx-background-color: GRAY;
}

.orderByButton .orderByDown {
    -fx-background-color: GRAY;
}

.orderByButton.descending .orderByDown {
    -fx-background-color: BLACK;
}
