TextField {
  -fx-border-width: 2px;
  -fx-border-color: lightgrey;
}

TextField:disabled {
  -fx-opacity: 1;
  -fx-border-color: white;
  -fx-background-color: white;
  -fx-prompt-text-fill: white;
}

.legalInput {
  -fx-border-color: chartreuse;

}
.illegalInput {
  -fx-border-color: red;
  
}

.searchField {
  -fx-background-image:url('search.png');
  -fx-background-color: rgba(0,0,0,0.05);
  -fx-background-repeat: no-repeat;
  -fx-background-position: 95%;
  -fx-background-size:15px;
  -fx-prompt-text-fill:  rgba(1,1,1,0.7);
  -fx-border-color: rgba(0,0,0,0);
  -fx-border-size:1px;
}


.searchField:hover, .searchField:focused {
  -fx-background-color: rgba(0,0,0,0.10);
}

.placementTextField {
  -fx-border-color: rgba(0,0,0,0);
  -fx-background-color: rgba(0,0,0,0);
  -fx-font-size: 20px;
  -fx-alignment: center;
}

  .placementTextField:disabled {
    -fx-prompt-text-fill: rgb(0,0,0);
  }
