ScrollPane {
    -fx-background-color: #f9f9f9;
}
.hoverOverDark {
    -fx-background-color: #d3d3d3;
}
.hoverOverLight {
    -fx-background-color: #dddddd;
}
.notHoverOverDark {
    -fx-background-color: #e4e4e4;
}
.notHoverOverLight {
    -fx-background-color: #efefef;
}
